<html>
    <header>
        <title>Práctica 2</title>
    </header>
    <body>
        Enlaces a los ejercicios de la práctica 2 de DAI
        <ol>
            <li><a href="http://localhost:5000/ordena/50">Ejercicio 2</a></li>
            <li><a href="http://localhost:5000/criba/1000">Ejercicio 3</a></li>
            <li><a href="http://localhost:5000/fibonacci/20">Ejercicio 4</a></li>
            <li><a href="http://localhost:5000/cadenas/[][][][]][[">Ejercicio 5</a></li>
            <li><a href="http://localhost:5000/regex">Ejercicio 6</a></li>
        </ol>
    </body>
</html>