{% extends "base.html" %}


{% block variante %}
<section class="bg-light p-2 border d-flex flex-column justify-content-center">
  <form class="form-row align-items-center align-self-center" action="/mongo" method="POST">
    <div class="col-8 w-100 my-1">
      <input type="text" class="form-control col-auto" name="busca" placeholder="Introduce la búsqueda">
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
      <th scope="col">#</th>
      <th scope="col">Película</th>
      <th scope="col">Categoría</th>
      </tr>
    </thead>
    <tbody>
    {% if lista_pelis %}
      {% for peli in lista_pelis %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{peli['Title']}}</td>
          <td>{{peli['Category']}}</td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
</section>


{% endblock %}