{% extends "base.html" %}


{% block variante %}
<section class="bg-light p-2 border">
  <table class="table">
    <thead>
      <tr>
      <th scope="col">#</th>
      <th scope="col">Película</th>
      <th scope="col">Categoría</th>
      </tr>
    </thead>
    <tbody>
    {% for peli in lista_pelis %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{peli['Title']}}</td>
        <td>{{peli['Category']}}</td>
      </tr>
    {% endfor %}
    </tbody>
</section>


{% endblock %}