{% extends "base.html" %}


{% block variante %}
<section class="bg-light mt-2 p-2 border borfer-primary">
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    {% if intentado %}
      <div class="alert alert-danger" role="alert">
        Las credenciales no son válidas
      </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</section>

{% endblock %}